#qr_img {
  width: 40%;
  height: 40%;
}

#recipient_title {
  text-align: left;
  margin-bottom: 5em;
}

#recipient_title h1 {
  margin-left: 1em;
  text-decoration: underline;
}

#recipient_content h2{
  font-size: 30pt;
}